*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "roboto";
}

.container{
	max-width: 1280px;
	padding: 0 2%;
	margin: 0 auto;
}

.clear{
	clear: both;
}

/*Header do meu site*/ 

header{
	background-image: url('../img/bg8.jpg');
	min-height: 450px;
	padding: 30px 0;
	background-size: cover;
	background-position: center;

}

.logo{
	background-image: url('../img/Drole.png');
	background-size: 100% 100%;
	float: left;
	width: 295px;
	height: 135px;
}
nav.desktop{
	float: right;
}

nav.desktop ul{
	list-style-type: none;
}

nav.desktop ul li{
	display: inline-block;
	margin: 0 15px;
}

nav.desktop a{
	color: white;
	text-decoration: none;
}

nav .btnLogin-popup{
	width: 130px;
	height: 50px;
	background: white;
	border: 2px solid #fff;
	outline: none;
	border-radius: 6px;
	cursor: pointer;
	font-size: 1.1em;
	color: black;
	font-weight: 500;
	margin-left: 40px;
	transition: .35s;


	/*
	text-align: center;
	width: 130px;
	height: 40px;
	border-radius: 100px;
	background-color: #ff5f27;
	color: white;
	cursor: pointer;
	border: 0;
	padding: 6px 8px;
	border-radius: 20px;
	border: 1px solid white;
	font-weight: initial;
	*/
}

nav .btnLogin-popup:hover {
	background: #d99e51;
    color: white;
}

nav.mobile{
	display: none;
	float: right;
}

nav.mobile ul{
	position: absolute;
	left: 0;
	top: 30px;
	width: 100%;
	padding: 30px 0;
	background: #31475e;
	display: block;
	text-align: center;
}

nav.mobile li{
	padding: 10px 0;
}

nav.mobile li.btn-nav{
	padding: 4px 10px;
	display: inline-block;
}

nav.mobile a{
	display: block;
	color: white;
	text-decoration: none;
}
/* Login Alterado*/

.wrapper {
    margin-top: 55px;
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid black;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
	overflow: hidden;
	transform: scale(0);
	transition: transform .5s ease, height .2s ease;
	/*transform: scale(0);*/
}

.wrapper.active-popup{
	transform: scale(1);
}

.wrapper.active{
	height: 520px;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login{
	transition: transform .30s ease;	
	transform: translateX(0);
}

.wrapper.active .form-box.login{
	transition: none;
	transform: translateX(-400px);
}

.wrapper .form-box.register{
	position: absolute;
	transition: none;
	transform: translateX(400px);
}

.wrapper.active .form-box.register{
	transition: transform .30s ease;	
	transform: translateX(0);
}

.wrapper .icon-close{
	position: absolute;
	top: 0;
	right: 0;
	width: 45px;
	height: 45px;
	background: #162938;
	font-size: 2em;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom-left-radius: 20px;
	cursor: pointer;
	z-index: 1;
}

.form-box h2 {
    font-size: 2em;
    color: white;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 30%;
    left: 10%;
    transform: translate(-50%);
    font-size: 1em;
    color: white;
    font-weight: 500;
    pointer-events: none;
    transition: .30s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -7px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: white;
    line-height: 57px;
}

.remenber-forgot {
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remenber-forgot label input {
    accent-color: #162938;
    margin-right: 3px;
}

.remenber-forgot a {
    color: #162938;
    text-decoration: none;
}

.remenber-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

.login-register {
    font-size: .9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
}
/*
div.chamada-header{
	padding: 110px 0;
}

div.chamada-header h2{
	font-size: 42px;
	color:white ;
	max-width: 400;
	font-weight: normal;
}

div.chamada-header p{
	font-size: 20px;
	color: white;
	margin-top: 10px;
	max-width: 600px;
}

div.chamada-header form{margin-top: 10px}

div.chamada-header input[type=email]{
	display: inline-block;
	border-radius: 100px;
	background: white;
	width: 230px;
	height: 35px;
	padding-left: 10px;
}

div.chamada-header input[type=password]{
	display: inline-block;
	border-radius: 100px;
	background: white;
	width: 230px;
	height: 35px;
	padding-left: 10px;
}

div.chamada-header input[type=submit]:focus{outline: 0}

div.chamada-header input[type=submit]{
	width: 180px;
	height: 40px;
	border-radius: 100px;
	background-color: #ff5f27;
	color: white;
	cursor: pointer;
	border: 0;
}
*/
section.descrição{
	text-align: center;
	padding: 30px 0;
}

section.descrição p{
	display: inline-block;
	max-width: 680px;
	font-weight: lighter;
	font-size: 22px;
	font-style: italic;
}

section.descrição-senac{
	padding: 20px 0;
}

section.descrição-senac > .container{
	max-width: 900px;
}

.descrição-texto{
	padding: 0 15px;
	float: left;
	width: 55%;
}

.descrição-texto h3{
	color: #31475e;
	font-size: 22px;
	line-height: 32px;
	font-weight: normal;
}

.descrição-texto p{
	margin-top: 15px;
	color: #6a7c92;
	font-size: 15px;
	line-height: 25px;
}

section.descrição-senac img{
	width: 45%;
	float: left;
	max-width: 500px;

}

section.descrição-senac2{
	padding: 5px 0 10px 0;
}	

section.descrição-senac2 > .container{
	max-width: 960px;
	background-image: url('../img/bg10.jpeg');
	background-size: cover;
	min-height: 350px;
}

/*.box-depoimento{
	position: absolute;
	left: 50%;
	margin-top: 200px;
	width: 70%;
	max-width: 506px;
	background: white;
	padding: 10px 30px;
	box-shadow: 0 8px 20px 0 rgba(224, 224, 224, 0.5) ;
}

.box-depoimento p{
	font-size: 18px;
	color: #31475e;
	font-weight: lighter;
}

@media screen and (max-width: 1024px){
	.box-depoimento{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: 120%;
	bottom: auto;
	transform: translate(-50%, -50%);
	width: 80%;
	
	
}
	nav.desktop{display:none;}
	nav.mobile{display: block;}
}

@media screen and (max-width:768px){
	.descrição-texto{width: 100%; display: block; float: none;}
	section.descrição-senac img{
		width: 100%;
		display: block;
		margin:0 auto;
		float: none;
		margin-top: 10px;
		max-width: 500px;
 	}
}*/

.carousel {
	width:760px;
	height:433px; 
	overflow: hidden; /* Ocultar conteúdo além da largura */
	align-items: center;
	margin: 50px auto;
	border-radius: 10px;
	
}
.carousel ul{
	display: flex;
	list-style: none;
	width: 2280px; 
	height: 433px;
}

.carousel li{
	position: relative; /* Posição relativa para posicionamento dos slides */
	animation: slide 15s infinite ease-out;
}

@keyframes slide{
	0%{left: 0px}
	20%{left: 0px}


	30%{left: -760px}
	50%{left: -760px}


	60%{left: -1520px}
	90%{left: -1520px;}

	100%{left: 0px}
}




/* Rodape */

footer{
    padding: 20px;
    background-color: #fdf2c5;
    color: black;
    margin-top: 5px;
    display: table;
    width: 100%;
}
footer dl, footer p{
    display: table-cell;
    vertical-align: middle;
}

footer dt{
    font-weight: bold;
}
footer dd{
    margin-left: 0;
}
footer p{
    text-align: right;
    font-weight: bold;
    font-size: 25px;
}
@media screen and (max-width: 768px) {
    section, aside{
        width: 100%;
        padding: 0;
    }
}
@media screen and (max-width: 600px){
    nav li{
        float: none;
        text-align: center;
        width: 100%;
    }

    footer p{
        display: none;
    }
}